<ion-view title="我要出差" id="page1" style="background-color:#E8E7E9;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <!--added by jack -->
            <div>
                <label>出差人</label>
                <label>{{currentStaff.name}}</label>
                <label><img src="{{currentStaff.staffAvatar}}"/></label>
            </div>
            <!--added by jack -->
            <div class="item item-input">
                <span class="input-label">出发地</span>
                <ng-selector-city
                        ng-model="trip.fromPlace"
                        dlg-options="fromPlaceSelector"
                        dlg-title="出发地选择"
                        dlg-placeholder="请输入城市名或首字母缩写"
                        class="fake-input"
                ></ng-selector-city>
            </div>
            <div class="item item-input">
                <span class="input-label">目的地</span>
                <ng-selector-city
                        ng-model="trip.place"
                        dlg-options="placeSelector"
                        dlg-title="请选择出差地点"
                        dlg-placeholder="请输入城市名或首字母缩写"
                        class="fake-input"
                ></ng-selector-city>
            </div>


        </form>
    </ion-content>
</ion-view>